.footer {
    margin-top: 120px; 
    box-shadow: 0 0 10px grey;
}

.footer-child {
    padding-top: 50px;
    display: flex;
    padding-left: 5%;
}

.footer-img {
    padding: 20px;
    flex: 1;
}

.footer-content {
    flex: 10;
}